/* sort */

.sort {
    position: absolute;
    top: -90px;
    right: 0;
}

.sort__btn {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    padding: 5px 25px;
    font-family: inherit;
    font-size: 14px;
    width: 175px;
    appearance: none;
    cursor: pointer;
    background-color: white;
    text-align: initial;
}

.sort__arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    pointer-events: none;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}

.rotate-arrow {
    transform: translateY(-70%) rotate(0);
    right: 10px;
}

.sort__options {
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 4px;
    top: -5px;
}

.sort__option {
    border: none;
    background-color: white;
    font-family: inherit;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    width: 100%;
    cursor: pointer;
}

.sort__icon {
    margin-right: 5px;
}

/* filter */

.filter {
    margin-right: 90px;
    width: 210px;
}

.filter__block {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.filter__block--price {
    margin-bottom: 35px;
}

.filter__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.filter__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__input {
    border: 1px solid #E1E1E1;
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
    font-family: inherit;
}

.filter__label {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter__check-wrap {
    margin-right: 10px;
    position: relative;
}

.filter__check-wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 18px;
    height: 18px;
    border: 1px solid #e1e1e1;
}

.filter__check-wrap--checked:after {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/src/img/black-tick.svg);
}

.filter__check:focus {
    outline-offset: 5px;
}

.filter__btn {
    border-radius: 25px;
    border: 2px solid #FAC663;
    width: 185px;
    padding: 12px;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.apply-btn {
    margin-bottom: 10px;
    background-color: #fac663;
}

.reset-btn {
    background-color: #fff;
    display: none;
}

.filter__btn:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.filter__btn:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
}

/* cards */

.rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px 20px;
    flex: 1;
}

.room {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.room__pic {
    display: block;
    width: 100%;
}

.room__title {
    margin: 25px 20px 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.room__conditions {
    margin: auto 20px 0;
}

.room__square,
.room__size {
    margin-bottom: 10px;
}

.room__equip {
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}

.equip__title {
    margin-right: 12px;
}

.equip__icon {
    margin-right: 8px;
}

.price {
    font-weight: 500;
    font-size: 18px;
    margin: 0 5px;
    line-height: 1;
}

.room__book {
    margin: 25px 20px;
}

.book-btn {
    display: flex;
    align-items: center;
    background-color: #FF7236;
    border-radius: 25px;
    padding: 6px;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.book-btn__text {
    flex: 1;
    text-align: center;
}

.book-btn__icon {
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.book-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.book-btn:focus {
    outline: none;
    background-color: #F05B1B;
}

.book-btn:focus .book-btn__icon {
    top: -1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hide-room {
    animation: hide 0.5s ease-in-out forwards; 
}

.show-room {
    animation: show 0.5s ease-in-out forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}