main {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 150px;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px 20px;
}

.room {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.room__pic {
    display: block;
    width: 100%;
}

.room__title {
    margin: 25px 20px 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.room__conditions {
    margin: auto 20px 0;
}

.room__square,
.room__size {
    margin-bottom: 10px;
}

.room__equip {
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}

.equip__title {
    margin-right: 12px;
}

.equip__icon {
    margin-right: 8px;
}

.price {
    font-weight: 500;
    font-size: 18px;
    margin: 0 5px;
    line-height: 1;
}

.room__book {
    margin: 25px 20px;
}

.book-btn {
    display: flex;
    align-items: center;
    background-color: #FF7236;
    border-radius: 25px;
    padding: 6px;
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.book-btn__text {
    flex: 1;
    text-align: center;
}

.book-btn__icon {
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.book-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.book-btn:focus {
    outline: none;
    background-color: #F05B1B;
}

.book-btn:focus .book-btn__icon {
    top: -1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}